@font-face {
  font-family: 'poller_oneregular';
  src: url('../fonts/pollerone/pollerone-webfont.eot');
  src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
    url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
    url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular')
      format('svg');
}
@font-face {
  font-family: 'leckerli_oneregular';
  src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
  src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
    url('../fonts/leckerlione/leckerlione-regular-webfont.ttf')
      format('truetype'),
    url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular')
      format('svg');
}

.body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  min-width: 960px;
  padding: 0;
}

p {
  color: #252525;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

p a {
  color: #252525;
  text-decoration: underline;
}
p a:hover {
  color: #898989;
}

.header {
  margin: 0 auto;
  padding: 44px 0 50px;
  text-align: center;
  width: 960px;
}

/* #header a.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 340px;
}

#header a.logo img {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
} */

.nav__list {
  margin: 0;
  padding: 56px 0 0;
}
.nav__item {
  margin: 0;
  padding: 0 19px;
  display: inline;
  list-style: none;
}
.nav__item-link {
  color: #252525;
  margin: 0;
  padding: 0 0 3px;
  display: inline-block;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__item-link:hover {
  color: #0ba39c;
}
.nav__item-link_selected {
  color: #0ba39c;
}
.main {
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
}

.header__title {
  color: #252525;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 35px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#body h1 span {
  background: #252525;
  padding: 15px 28px 12px;
  display: inline-block;
}
#body > div {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}
#body > div img {
  border: 2px solid #292929;
  margin: 24px 0 0;
  padding: 0;
}
#body > div .article {
  width: 560px;
  margin: 0 auto;
  padding: 30px 30px 0;
}
#body > div .article h2 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
}
#body > div .article h3 {
  color: #252525;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
#body > div .article h4 {
  color: #fff;
  background: #252525;
  display: inline-block;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
  padding: 8px 27px 10px;
}
#body > div .article p {
  margin: 0 0 30px;
}
#body > div ul {
  margin: 0;
  padding: 24px 10px 0;
  width: 940px;
}
#body > div ul li {
  margin: 0 0 13px;
  padding: 0;
  border: 2px solid #1a1a1a;
  display: block;
  list-style: none;
  overflow: hidden;
}
#body > div ul li .figure {
  margin: 0;
  padding: 0;
  border-right: 2px solid #1a1a1a;
  float: left;
  width: 376px;
}
#body > div ul li .figure:hover img {
  opacity: 1;
}
#body > div ul li div {
  float: left;
  margin: 0;
  padding: 63px 0 20px;
  width: 558px;
}
#body > div ul li div h3 {
  margin: 0;
  padding: 0;
  color: #252525;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
}

#body > div ul li div p {
  padding: 30px 30px 18px;
}
#body > div ul li div a.more {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 8px 28px;
  display: inline-block;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#body > div ul li div a.more:hover {
  background: #fff;
  color: #252525;
  border: 2px solid #252525;
}

.featured {
  margin: 0 0 13px;
  padding: 0;
  position: relative;
  width: 100%;
}
.featured__img {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.featured__div {
  left: 60%;
  margin-left: -420px;
  margin-top: -350px;
  padding: 0 0 0 470px;
  position: absolute;
  top: 50%;
  text-align: left;
  width: 490px;
}
.featured__header {
  background: #1fc3bc;
  color: #000;
  margin: 0 0 18px;
  padding: 23px 27px 20px;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}
.featured__span {
  background: #252525;
  color: #fff;
  margin: 7px 0;
  padding: 12px 27px;
  display: inline-block;
  font-size: 20px;
}
.featured__delivery {
  background: #0ba39c;
  color: #fff;
  display: inline-block;
  margin: 15px 0 0;
  padding: 26px 27px 22px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.featured__delivery:hover {
  background: #1fc3bc;
}
.categories {
  margin: 0 auto;
  padding: 24px 0 0;
  width: 960px;
  overflow: hidden;
}
.categories__item {
  position: relative;
  display: block;
  float: left;
  margin: 0 10px 20px;
  padding: 0;
  width: 300px;
}
.categories__link {
  color: #000;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
}
.categories__link-img {
  border: 3px solid #1fc3bc;
  border-radius: 130px;
  display: block;
  margin: 20px auto;
  padding: 0;
  opacity: 1;
  transition: 0.5s ease-in-out;
  max-width: 230px;
}

.categories__link-img:hover {
  opacity: 0.8;
}
.categories__link-span {
  display: block;
  margin: 0;
  padding: 33px 0 0;
  text-align: center;
}
/* #body form {
  width: 620px;
  margin: 0 auto;
  padding: 24px 0 0;
}
#body form input,
#body form textarea {
  color: #252525;
  border: 2px solid #252525;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 37px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 596px;
}
#body form textarea {
  height: 175px;
  overflow: auto;
  resize: none;
}
#body form #send {
  background: #252525;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 20px 28px;
  width: auto;
}
#body form #send:hover {
  background: #fff;
  color: #252522;
  cursor: pointer;
} */
.footer {
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}
.footer__div {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.footer__text {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}
.footer__list {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}
.footer__item {
  display: block;
  float: left;
  margin: 0 10px;
  list-style: none;
  padding: 0;
  width: 44px;
}
.footer__item-link {
  background: url(../images/icons.jpg) no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  width: 44px;
  text-indent: -99999px;
}
#instagram {
  background-position: 0 0;
  color: #fff;
}
#instagram:hover {
  background-position: -44px 0;
}
#facebook {
  background-position: 0 -44px;
}
#facebook:hover {
  background-position: -44px -44px;
}
#vkontakte {
  background-position: 0 -88px;
}
#vkontakte:hover {
  background-position: -44px -88px;
}
#whatsup {
  background-position: 0 -132px;
}
#whatsup:hover {
  background-position: -44px -132px;
}

.pastila__img {
  max-width: 200px;
}

/***SLIDER***/

.slider {
  position: relative;
  margin: 100px auto;
  padding: 5px;
  width: 660px;
  height: 360px;
  background-color: #f5b4bd;
  border: 5px solid #e16801;
  border-radius: 15px;
}
#slider__src {
  margin: 20px auto;
  margin-top: 20px;
  width: 600px;
  height: 320px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
  border-radius: 170px;
}

.slider__button-left {
  position: absolute;
  top: 150px;
  width: 25px;
  height: 70px;
  font: 12pt arial, tahoma, sans-serif;
  text-align: center;
  left: 5px;
  background-color: #e16801;
  border: none;
}
.slider__button-right {
  position: absolute;
  top: 150px;
  width: 25px;
  height: 70px;
  font: 12pt arial, tahoma, sans-serif;
  text-align: center;
  right: 5px;
  background-color: #e16801;
  border: none;
}

/***ToolTip**/
#tt {
  background-color: #ffd;
  position: absolute;
  display: block;
  padding: 10px;
  border: solid #089dcb;
  border-width: 1px;
  box-shadow: 1px 1px 2px #888888;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  -webkit-box-shadow: 1px 1px 2px #888888;
  -moz-box-shadow: 1px 1px 2px #888888;
}

canvas.tip {
  position: absolute;
  z-index: 99999;
  border: 1px solid #e16801;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: white;
}
