.categories__link-img {
  border: 3px solid #1fc3bc;
  border-radius: 130px;
  display: block;
  margin: 20px auto;
  padding: 0;
  opacity: 1;
  transition: 0.5s ease-in-out;
  max-width: 230px;
}
.categories__link-img:hover {
  opacity: 0.8;
}
